@import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

section {
    min-height: 86vh;
}

a {
    text-decoration: none;
    color: black;
}

footer {
    margin-top: 10px;
    padding: 20px;
    background-color: black;
    color: white;
    text-align: center;
    height: 50px;
    grid-area: footer;
}

/* Navigation container styles */

.navigation-container {
    display: flex;
    position: relative;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 1;
    opacity: 0;
    animation: fadeIn 0.5s forwards;
    justify-content: space-between;
    border-top: 3px solid black;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

/* Dropdown contents */

.navigation-container .navigation-menu .dropdown-content {
    position: absolute;
    display: none;
    right: 1px;
}

.navigation-container .navigation-menu li:hover .dropdown-content {
    background-color: rgba(17, 17, 17, 0.7);
    color: white;
    position: absolute;
    display: block;
}

.navigation-container .navigation-menu .dropdown-content li {
    display: block;
    margin: 0;
    width: 200px;
}

.navigation-container .navigation-menu .dropdown-content li:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.navigation-container .navigation-menu .dropdown-content li:hover a {
    color: black;
}

/* slideshow */

.slideshow {
    min-height: 100vh;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.slideshow li {
    min-width: 100%;
    min-height: 96vh;
    top: 0;
    left: 0;
    background-clip: content-box;
    background-size: cover;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 25s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slideshow li .slideshow-content {
    font-size: 40px;
    letter-spacing: 5px;
    position: relative;
    text-align: center;
    color: white;
    line-height: 50px;
    animation-name: slideUp;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}

.slideshow li .slideshow-content:nth-child(1) {
    font-size: 40px;
}

.slideshow li .slideshow-content span {
    font-size: 20px;
}

.slideshow li .slideshow-content h3 {
    font-size: 30px;
    text-align: center;
    color: white;
}

.slideshow li .slideshow-content hr {
    border: 1px solid white;
    background-color: white;
    width: 250px;
    height: 5px;
    margin: 20px auto;
}

.slideshow li:nth-child(1) {
    background-image: url(../../media/images/main_slider.jpg);
}

.slideshow li:nth-child(2) {
    background-image: url(../../media/images/mclaren_p1.jpg);
    animation-delay: 6s;
}

.slideshow li:nth-child(3) {
    background-image: url(../../media/images/buggati_veyron.jpg);
    animation-delay: 12s;
}

.slideshow li:nth-child(4) {
    background-image: url(../../media/images/gallery/Koenigsegg_One.jpg);
    animation-delay: 18s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    5% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    15% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}

@keyframes slideUp {
    0% {
        margin-top: 100px;
    }
    100% {
        margin: 0;
    }
}

/* Why-us styles */

.why-us {
    margin-top: 20px;
    text-align: center;
}

.why-us svg {
    color: rgb(255, 123, 123);
}

.why-us svg.fa-question-circle {
    font-size: 100px;
    color: rgb(255, 123, 123);
}

.why-us hr {
    border: 2px solid rgb(255, 123, 123);
    width: 300px;
    margin: 20px auto;
}

.why-us>.title {
    font-size: 50px;
}

.why-us .grid .title {
    font-size: 30px;
}

.why-us .grid {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.why-us .grid li {
    margin-top: 25px;
    flex-basis: 50%;
    max-width: 35%;
    flex-grow: 1;
}

/*
    About
*/

.our-team {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.our-team .intro-text {
    text-align: center;
    font-size: 30px;
    width: 100%;
    justify-content: center;
}

.our-team .intro-text span {
    border-bottom: 5px solid black;
}

.our-team .member {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    flex-basis: 50%;
    flex-grow: 1;
    color: white;
    background-size: 95%;
    background-position: center;
    margin: 20px auto;
    height: 300px;
    transition: all 0.3s ease-in;
    background-repeat: no-repeat;
}

.our-team .member hr {
    background-color: black;
    width: 150px;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
}

.our-team .member span {
    width: 80%;
    margin: 0 auto;
}

.our-team .member:hover {
    font-size: 18px;
    filter: grayscale(70%);
    transform: scale(1.05);
}

.our-team .member:nth-child(2) {
    background-image: url(../../media/images/members/ted_livingston.jpg);
}

.our-team .member:nth-child(3) {
    background-image: url(../../media/images/members/jed_mccaleb.jpeg);
}

.our-team .member:nth-child(4) {
    background-image: url(../../media/images/members/sairose_ronan.jpg);
}

.our-team .member:nth-child(5) {
    background-image: url(../../media/images/members/vitalik_buterin.jpg);
}

/* Gallery */

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery .gallery-content {
    height: 400px;
    flex-basis: 28%;
}

.gallery .gallery-content img {
    width: 95%;
    background-repeat: no-repeat;
    border: 2px solid grey;
    margin: 10px
}

.description {
    margin: 10px;
}

.our-company {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 100%;
    text-align: center;
}

.our-company-image {
    height: 80vh;
    width: 100%;
    flex-basis: 100%;
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.our-company-image:nth-child(1) {
    background-image: url(../../media/images/our-company/car-dealership.jpg);
}

.our-company-image:nth-child(3) {
    background-image: url(../../media/images/our-company/dealercustomers.jpg);
}

.our-company-image:nth-child(5) {
    background-image: url(../../media/images/our-company/engineers.jpg);
}

.our-company-content {
    width: 60%;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.our-company-content:nth-child(6)::after {
    margin-top: 20px;
    content: "";
    width: 100%;
    height: 2px;
    background-color: red;
}

.our-company-content h1 {
    text-align: center;
    font-size: 50px;
    width: 45%;
    border: 3px solid black;
    align-self: center;
    margin-bottom: 30px;
}

.our-company-content span {
    font-size: 17px;
}

/* Contact us */

.contact-us {
    height: 400px;
}

.contact-us span {
    font-size: 27px;
    width: 80%;
    align-self: center;
}

/* Order */

.order {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.order form {
    width: 30%;
    display: flex;
    flex-direction: column;
}

.order .form-label {
    margin-top: 10px;
    font-weight: 700;
}

.order .form-input {
    border-radius: 3px;
    height: 30px;
    outline: none;
    padding: 5px;
    border: 1px solid black;
}

.form-input-textarea {
    border: 1px solid black;
    border-radius: 3px;
}

.select-input {
    border: 1px solid black;
    background-color: #fff;
    border-radius: 3px;
    height: 30px;
}

.submit-btn {
    width: 20%;
    height: 35px;
    margin-top: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: lightgray;
}

/* Utility styles */

.u-heading-primary-big {
    font-size: 40px;
}

.u-heading-underline {
    text-decoration: underline;
}

.u-heading-tertiary {
    display: block;
}

.navigation-menu {
    display: flex;
    overflow: hidden;
}

.navigation-menu a {
    text-align: center;
    padding: 17px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navigation-menu .icon {
    display: none;
}

.dropdown {
    overflow: hidden;
}

.dropdown .dropdown-btn {
    font-size: 17px;
    border: none;
    outline: none;
    padding: 17px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.navigation-menu a:hover,
.dropdown:hover .dropdown-btn {
    background-color: black ;
    color: white;
    transition: all .3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

.error-msg {
    color: red;
}

@media screen and (max-width: 500px) {
    .navigation-menu a:not(:first-child),
    .dropdown .dropdown-btn {
        display: none;
    }
    .navigation-menu a.icon {
        float: right;
        display: block;
    }
}
/* RESPONSIVE */

@media(max-width: 500px) {
    /* Responsive navbar */
    .navigation-menu {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .navigation-menu.responsive {
        position: relative;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .navigation-menu.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navigation-menu.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .navigation-menu.responsive .dropdown {
        float: none;
    }
    .navigation-menu.responsive .dropdown-content {
        position: relative;
    }
    .navigation-menu.responsive .dropdown .dropdown-btn {
        display: block;
        width: 100%;
        text-align: left;
    }


    /*
        Navigation
    */
    .navigation-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navigation-container .navigation-menu {
        text-align: center;
    }
    .navigation-container .navigation-menu li {
        display: flex;
        flex-direction: column;
    }
    .slideshow li {
        min-width: 100%;
        min-height: 80vh;
    }
    .slideshow li .slideshow-content:nth-child(1) {
        font-size: 25px;
    }
    .slideshow li .slideshow-content span {
        font-size: 15px;
    }
    .slideshow li .slideshow-content h3 {
        font-size: 20px;
    }
    .why-us .grid {
        flex-direction: column;
        align-items: center;
    }
    .why-us .grid li {
        min-width: 80%;
    }
    .why-us>.title {
        font-size: 30px;
    }
    /*About*/
    .our-team {
        flex-direction: column;
    }
    .our-team .intro-text {
        width: 90%;
        align-self: center;
    }
    .our-team .member {
        background-size: cover;
        flex-basis: 100%;
        width: 100%;
    }
    /* Our company */
    .our-company-image {
        background-size: cover;
    }
    .our-company-content {
        height: 500px;
        width: 100%;
    }
    .our-company-content h1 {
        width: 80%;
        font-size: 30px;
    }
    .contact-us {
        height: 300px;
    }
    .contact-us span {
        font-size: 20px;
    }
    /* Gallery */
    .gallery {
        flex-wrap: wrap;
        flex-direction: column;
    }
    .gallery .gallery-content {
        height: 400px;
    }
    .gallery .gallery-content img {
        width: 90%;
        background-repeat: no-repeat;
        border: 2px solid grey;
        margin: 10px
    }
    .description {
        margin: 10px;
    }
    /* Our company */
    .our-company-image {
        height: 43vh;
        width: 100%;
        background-size: cover;
        background-attachment: scroll;
        background-repeat: no-repeat;
        background-position: top;
    }
    .our-company-content {
        height: 200px;
        margin: 30px 0;
    }
    .our-company-content h1 {
        width: 45%;
    }
    /* ORDER */
    .order form {
        width: 90%;
    }
}